<%# <h4>参加者</h4>
<% @entries.each do |e| 
  <%= link_to e.user.name, user_path(e.user_id)  %>

<h1>Chat room</h1>

<%= render 'chats/chat' %>

<%= label_tag :message, 'Say something:' %>
<%= text_field_tag :message, nil, data: { behavior: 'room_speaker' } %>
